/* reset do CSS (*)- retira os estilos padrão centralização genérica que servirá para todos os elementos -  sendo que o box-sizing serve para centralizar o texto a partir da borda*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* imagem de fundo e tamanho da imagem*/
body {
  background-image: url('../img/Fundo\ Tela.jpg');
  font-family: arial;
  background-size: auto 100hv;
  height: 100vh;
  width: auto 100vh;
  font-size: 12px;
}


/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
body {  
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
}

/* se a tela tiver pelo menos 600px vai carregar esses estilos */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    min-height: 100vh;
  }
 }

/* se a tela tiver pelo menos 1200px vai carregar esses estilos */
@media (min-width: 1200px) {
  body {
    font-size: 22px;
    background-size: auto 127vh;
    min-height: 100vh;
  }
}

/* tag header configurações*/
header {
height: 100vh;
display: flex;
justify-content: center;
align-items: top;
flex-wrap: wrap;
}

/* margem superior para descer o texto do título e subtítulo*/
h1 {
  padding-top: 220px;
}

/*configurações do título*/

/* fonte geral do site */
.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

/*estilo menu ul que abrange o menu li*/
.menu ul {
  display: flex;
  justify-content: space-around;
}

/* Estilo menu li "sobre" formação" "contato"*/
.menu li {
  list-style: none;
}

.menu a {
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
  background-color: black;
  color: white;
}

.menu a:active {
  background-color: black;
  color: black;
}

/* configurações do título*/
.site-title {
  font-family: 'Assistant', sans-serif;
  color: black;
  text-align: center;
  font-style: bold;
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 20px;    
}

/* configurações do subtitulo*/
.site-subtitle {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 3em;
  text-align: center;    
  font-style: italic;    
}

/* configurações e animação da aparição do título e subtítulo*/
.titulos {
  transform: scale(0.5) translatey(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulos forwards;
}

@keyframes animacaoTitulos {
  0% {
    transform: scale(0.5) translatey(50vh);
    opacity: 0;
    
  }

  100% {
    transform: scale(1) translatey(0);
    opacity: 1;
    
  }
  
}

/* propriedade genérica*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}  

/* configuração texto sobre */
.sobre p {
  font-size: 2em;
}


/* configurações da page "Formação"*/  
  figcaption {
    font-family: 'Roboto', sans-serif;
  }

  .contato,
  .formacao,
  .sobre {
    background-color: rgb(194, 194, 142);
    padding: 2em;
    min-height: 100vh;
    align-items: center;    
  }
  
  /*configurações título "formação*/
  .sobre h2,
  .contato h2,
  .formacao h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5em;
    font-size: 2em;
  
  }
  
  /* tamanho das imagens do menu "formação"*/
  .img-formacao{
    height: 250px;
    width: 240px;
    border-radius: 10px;
    transition: 0.5s;
    

    /* a propriedade objetct-fit faz a adequação da imagem ao tamanho da coluna
    
    object-fit: cover;
    
    a propriedade objetict-posicion coordena a posição dentro do quadro
    
    object-position: left:;
    
    a propriedade border-radius: faz a controle das bordas, sendo possível arredondar as imagens
    
    border-radius: 10px;

    mas eu deixei destivado pois para o meu objetivo não cabia, pois os diplomas são do mesmo tamanho, retangulares*/
  }

  .img-formacao:hover {
    grid-template-columns: none;
    transform: scale(1.8);
  }

  /* configuração da <grid> para divisão das imagens em colunas*/
  .formacao .grid {
    display: grid;
    gap: 2em;
    font-size: 1em;
    justify-content: center;          
  }

  @media (min-width: 560px) {
    .formacao .grid, .img-formacao{
    grid-template-columns: 400px 400px;
    gap: 3em;
    height: 250x;
    width: 400px;
    justify-content: flex-start;
    font-size: 1em;
    text-align: center;
    }
  }

  @media (min-width: 920px) {
    .formacao .grid {
      grid-template-columns: 400px 400px 400px;
      gap: 3em;
      height: 550px;
      width: 1550px;
      justify-content: flex-start;            
      font-size: 1em;      
      text-align: center;
     }
  }

  @media (min-width: 1500px) {
    .formacao .grid {
      grid-template-columns: 400px 400px 400px;
      gap: 3em;
      height: 550px;
      width: 2000px;
      justify-content: center;       
      font-size: 1em;   
      text-align: center;         
     }
  }

  /* formatação titulo dos diplomas */
  .formacao figure {
    text-align: center;
    height: 200px;
    width: 375px;
    margin-bottom: 4em; 
  }

  /* começa as configurações "sobre*/

  .sobre {
    background-color: rgb(194, 194, 142);
    padding: 2em;
    height: 100vh;    
    align-items: center;    
  }


  /* fomatação das ícones de contato */

  .contato a {
    color: black;
    font-size: 2em;
    transition: 0.5s;
    
  }

  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
  }

  .contato a:active {
    text-decoration: none;
    text-shadow: 0px 0px 5px yellow;
  }