/* reset do CSS (*)- retira os estilos padrão centralização genérica que servirá para todos os elementos -  sendo que o box-sizing serve para centralizar o texto a partir da borda*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* imagem de fundo e tamanho da imagem*/
body {
  background-image: url('../img/Fundo\ Tela.jpg');
  font-family: arial;
  background-size: auto 100vh;
  height: 100vh;
  font-size: 12px;  
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
body {
  font-size: 14px;
}
}

/* se a tela tiver pelo menos 600px vai carregar esses estilos */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    background-image: none;
    background-color: tomato;
  }
 }

/* se a tela tiver pelo menos 1200px vai carregar esses estilos */
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

/* tag header configurações*/
header {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

/* fonte geral do site */
.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

/*estilo menu ul que abrange o menu li*/
.menu ul {
  display: flex;
  justify-content: space-around;
}

/* Estilo menu li "sobre" formação" "contato"*/
.menu li {
  list-style: none;
}

.menu a {
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .site-title {
    color: white;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 20px;
  }
  
  .site-subtitle {
    color: white;
    font-size: 2em;
    text-align: center  ;
    font-style: italic;
  }

  .img-portfolio{
    height: 200px;
    width: 300px;
  }