/* reset do CSS (*)- retira os estilos padrão centralização genérica que servirá para todos os elementos -  sendo que o box-sizing serve para centralizar o texto a partir da borda*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* imagem de fundo e tamanho da imagem*/
body {
  background-image: url('../img/Fundo\ Tela.jpg');
  font-family: arial;
  background-size: auto 100hv;
  height: 100vh;
  width: auto 100vh;
  font-size: 12px;
}


/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 200px) {
  body {  
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;  
  }
  
}
/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
  body {  
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;  
  }
  
}

/* se a tela tiver pelo menos 600px vai carregar esses estilos */
@media (min-width: 600px) {
  body {
    font-size: 14px;
    min-height: 100vh;    
  }
  
}


/* se a tela tiver pelo menos 1200px vai carregar esses estilos */
@media (min-width: 1200px) {
  body{
    font-size: 22px;
    background-size: auto 100%;
    min-height: 100vh;
    
    
  }
}

@media (min-width: 1201px) {
.img-formacao:hover {
  transform: scale(2.6);
}
}


/* tag header configurações*/
header {
height: 100vh;
display: flex;
justify-content: center;
align-items: top;
flex-wrap: wrap;
}

/* margem superior para descer o texto do título e subtítulo*/
h1 {
  padding-top: 220px;
}

/*configurações do título*/

/* fonte geral do site */
.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

/*estilo menu ul que abrange o menu li*/
.menu ul {
  display: flex;
  justify-content: space-around;
}

/* Estilo menu li "sobre" formação" "contato"*/
.menu li {
  list-style: none;
}

.menu a {
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
  background-color: black;
  color: white;
}

.menu a:active {
  background-color: black;
  color: black;
}

/* configurações do título*/
.site-title {
  font-family: 'Assistant', sans-serif;
  color: black;
  text-align: center;
  font-style: bold;
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 20px;    
}

/* configurações do subtitulo*/
.site-subtitle {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 3em;
  text-align: center;    
  font-style: italic;    
}

/* configurações e animação da aparição do título e subtítulo*/
.titulos {
  transform: scale(0.5) translatey(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulos forwards;
}

@keyframes animacaoTitulos {
  0% {
    transform: scale(0.5) translatey(50vh);
    opacity: 0;
    
  }

  100% {
    transform: scale(1) translatey(0);
    opacity: 1;
    
  }
  
}

/* propriedade genérica*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}  



/* configurações da page "Formação"*/  
  figcaption {
    font-family: 'Roboto', sans-serif;
  }

  .alancubo,
  .contato,
  .formacao,
  .sobre {
    background-color: rgb(241, 241, 211);
    padding: 2em;
    min-height: 100vh;
    align-items: center;
   
  }
  
@media (min-width: 2000px) {
  .alancubo,
  .contato,
  .formacao,
  .sobre {
    max-width: 1500px;
    
  }
}

  /*configurações título "formação*/
  .sobre h2,
  .contato h2,
  .formacao h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5em;
    font-size: 2em;
  
  }
  
  /* configuração texto sobre */
.sobre p {
  font-size: 1.5em;
  min-height: 100hv;
  text-indent: 0em;
  margin-bottom: 1.5em;
}

  .alan,
  .cubogeral {
    /*clip-path: polygon(89% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);*/
    margin-right: 11em;
    height: 320px;
    width: 350px;
    border-radius: 0px;
    transition: 0.4s; 
  }

  /* flota para a foto, ficou o cubo no lugar
  .sobre alan{
    float: left;
  }
  */

  .sobre .cubogeral{
    float: left;
  }

  .alan:hover {
    grid-template-columns: none;
    transform: scale(1.4);
    clip-path: none;
  }

 /* configuração do cubo alan para rodar a imagem no sobre*/
 
 .cubogeral {
   margin-top: 150px;
   perspective: 1000px;
   perspective-origin: 50% 50%;
 }
 
 .cubo {
    transform-style: preserve-3d;
    width: 20px;
    height: 25px;
    margin: 30px;
    margin-left: 250px;
    position: relative;
  }

  .cubo img {
    position: absolute;
    opacity: 0.85;
    height: 200px;
    width: 200px;
  }

  .cubo img:nth-child(1) 
  {
    transform: rotate(0deg) translateZ(100px);
  }

  .cubo img:nth-child(2) 
  {
    transform: rotateY(90deg) translateZ(100px);
  }

  .cubo img:nth-child(3) 
  {
    transform: rotateY(180deg) translateZ(100px);
  }

  .cubo img:nth-child(4) 
  {
    transform: rotateY(-90deg) translateZ(100px);
  }

  .cubo img:nth-child(5) 
  {
    transform: rotateX(90deg) translateZ(100px);
  }

  .cubo img:nth-child(6) 
  {
    transform: rotateX(-90deg) translateZ(100px);
  }

  @keyframes loop{
    from{transform:rotateX(0deg) rotateY(0deg);}
    to{transform:rotateX(360deg) rotateY(360deg);}
  }

  .cubo {
    animation: loop 20s linear infinite;
  }

  /* configuração da <grid> para divisão das imagens em colunas*/
  .formacao .grid {
    display: grid;
    gap: 2em;
    font-size: 1em;
    justify-content: center;          
  }

   /* tamanho das imagens do menu "formação"*/
   .img-formacao {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    

    /* a propriedade objetct-fit faz a adequação da imagem ao tamanho da coluna
    
    object-fit: cover;
    
    a propriedade objetict-posicion coordena a posição dentro do quadro
    
    object-position: left:;
    
    a propriedade border-radius: faz a controle das bordas, sendo possível arredondar as imagens
    
    border-radius: 10px;

    mas eu deixei destivado pois para o meu objetivo não cabia, pois os diplomas são do mesmo tamanho, retangulares*/
  }
  
  

  /*

  função card não ativada devido a dificuldade de usar hover para aumentar a escala e active para virar o verso, as funções não funcionaram para o verso do card.

  retirnei o html para a função a codificação anterior, sendo que o html que estava para o card segue abaixo:

        <div class="card">
          <figure class="front">
            <img class="img-formacao" src="./img/Técnico em Contabilidade.jpg" alt="Formação Técnica">
            <figcaption>Técnico em Contabilidade</figcaption>
          </figure>
          <figure class="back">
            <img class="img-formacao" src="./img/Técnico em Contabilidade Verso.jpg" alt="Formação Técnica">
            <figcaption></figcaption>
          </figure>
        </div>

  
  parte do css para o card:

  .card {
    position: relative;
    transform-style: preserve-3d;
    height: 200px;
    width: 375px;     
  }

  .card:active {
    transform: rotatey(180deg);
    
  }

 .front, .back {
    backface-visibility: hidden;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
        
  }

  .back {
    height: 100%;
    width: 100%;
    transform: rotatey(180deg);
  }
*/
 
  @media (min-width: 560px) {
    .formacao .grid, .img-formacao{
    grid-template-columns: 400px 400px;
    gap: 3em;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    font-size: 1em;
    text-align: center; 
    }
  }

  @media (min-width: 920px) {
    .formacao .grid {
      grid-template-columns: 400px 400px 400px;
      gap: 3em;
      height: 550px;
      width: 95vw;
      justify-content: flex-start;            
      font-size: 1em;      
      text-align: center;
     }
  }

  @media (min-width: 1500px) {
    .formacao .grid {
      grid-template-columns: 400px 400px 400px;
      gap: 3em;
      height: 550px;
      width: 96.8 vw;
      justify-content: center;       
      font-size: 1em;   
      text-align: center;         
     }
  }

  /* formatação titulo dos diplomas */
  .formacao figure {
    text-align: center;
    height: 185px;
    width: 283.66px;
    margin-bottom: 4em; 
  }

  
  /* começa as configurações "sobre*/

  .sobre {
    padding: 2em;        
    align-items: center;    
  }


  /* fomatação das ícones de contato */

  .contato a {
    color: black;
    font-size: 2em;
    transition: 0.5s;
    
  }

  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
  }

  .contato a:active {
    text-decoration: none;
    text-shadow: 0px 0px 5px yellow;
  }